<div id="education">
    <h2 class="heading">Education</h2>
    <div class="education-block">
        <h3>M S Ramaiah Institute of Technology, Bangalore - India</h3>
        <span class="education-date">Aug 2013 - Aug 2017</span>
        <h4>Bachelor of Science in Computer Science</h4>
        <p class="coursework">
            Coursework :
        </p>
        <ul>
            <li>
                Year 1 : Data Structures, Operating Systems, Networking
            </li>
            <li>
                Year 2 : Algorithms, Object Oriented programming in Java, Relational Database management
            </li>
            <li>
                Year 3 : Artifical Intelligence, Web development, Computer Security
            </li>
            <li>
                Year 4 : Principles of Software Engineering, Relational Database management, Compiler design
            </li>
        </ul>
    </div>

    <div class="education-block">
        <h3>Northeastern University, Boston MA</h3>
        <span class="education-date">Aug 2018 - Dec 2020</span>
        <h4>Master of Science in Computer Science</h4>
        <p class="coursework">
            Coursework :
        </p>
        <ul>
            <li>
                Year 1 : Programming Design Paradignms, Database Management and design, Web development, Data visualization
            </li>
            <li>
                Year 2 : Algorithms, Building Scalable Distributed Systems, Foundations of Software Engineering, Information retreival
            </li>
        </ul>
    </div>
</div>
<!-- End #education -->