<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        <div data-date="January 2017 – June 2017">
            <h3>Wells Fargo Solutions, Bangalore</h3>
            <h4>Intern</h4>
            <p>
                This was my first taste of professional experience. I spent 6 months working on a Machine learning based
                stock analysis application. 
            </p>
            <p>
                My job was to clean and prepare Terabytes worth of live stock data for analysis, run the
                data through the analysis, load the resulting data into EleasticSearch and generate visualiztions using Kibana.
            </p>
            <p>
                I was offered a full-time role which I accepted.
            </p>
        </div>

        <div data-date="July 2017 – July 2018">
            <h3>Wells Fargo Solutions, Bangalore</h3>
            <h4>Applications programmer</h4>
            <p>
                Worked with a team of 5 on a Java based web application named Image File Import.
            </p>
            <p>
                Developed a module for the internal web application using Java, Javascript, HTML, CSS, and MySQL to allow Adhoc requests 
                to be processed by users for generation or deletion of certificates.
            </p>
            <p>
                Identified 15 bugs and worked to fix 10 of them.
            </p>
            <p>
                Provided support for the application, working with offshore teams to solve real time issues.
            </p>
        </div>

        <div data-date="June 2019 – December 2019">
            <h3>Fidelity Investments, Boston MA</h3>
            <h4>Software Engineer Co-op</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet
                urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi
                dapibus porta quam laoreet placerat.
            </p>
        </div>
    </div>
</div>
<!-- End #experience -->