<div id="skills">
  <h2 class="heading">Skills</h2>
  <div class="row project">
    <div class="col-sm-4 heading_skills">
      <h3>
        Programming languages :
      </h3>
    </div>
    <div class="col-sm-8">
      <ul>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>SQL</li>
        <li>Python</li>
      </ul>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-4 heading_skills">
      <h3>
        Front-end development :
      </h3>
    </div>
    <div class="col-sm-8">
      <ul>
        <li>AngularJS</li>
        <li>React</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-4 heading_skills">
      <h3>
        Server/Back-end :
      </h3>
    </div>
    <div class="col-sm-8">
      <ul>
        <li>Node.js</li>
        <li>Spring boot</li>
        <li>Hibernate</li>
        <li>Flask</li>
      </ul>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-4 heading_skills">
      <h3>
        Deployment :
      </h3>
    </div>
    <div class="col-sm-8">
      <ul>
        <li>AWS</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>Heroku</li>
      </ul>
    </div>
  </div>
  <div class="row project">
    <div class="col-sm-4 heading_skills">
      <h3>
        Databases :
      </h3>
    </div>
    <div class="col-sm-8">
      <ul>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
      </ul>
    </div>
  </div>
</div>
<!-- End #skills -->