<div id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="heading">About Me</h2>
            </div>
            <div class="col-md-8">
                <p>
                    Hey, I'm Arvind. I'm a software engineer and web developer who loves bringing web applications to
                    life,
                    very much like this website which I built from the ground up using Angular. :)
                </p>
                <br>
                <p>
                    I have professional experience in full stack development, having worked on
                    API development, front-end programming, database management, and deployment services.
                </p>
                <br>
                <p>
                    I'm proficient in Java, JavaScript, AngularJS, React, HTML, CSS, MySQL, Node.js, and Docker. I'm
                    currently
                    working on som interesting projects that utilize Apache Kafka, Kubernetes, Hibernate, Python and
                    Flask.
                    I started these in order to build a better full stack profile but over time, I grew to love working
                    and improving on these projects.
                </p>
                <br>
                <p>
                    If I'm not doing any of the above stuff, I'm probably traveling, playing football(soccer)/chess,
                    or buying something I'll regret later. Or I'm just lazing around.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End #about -->