<div id="lead">
  <div id="lead-content">
      <h1>Arvind Kumar</h1>
      <h2>Software Engineer</h2>
      <a href="#" class="btn-rounded-white">Download Resume</a>
  </div>
  <!-- End #lead-content -->

  <div id="lead-overlay"></div>

  <div id="lead-down">
      <span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
  </div>
  <!-- End #lead-down -->
</div>
<app-about></app-about>

<app-experience></app-experience>

<app-education></app-education>

<app-projects></app-projects>

<app-skills></app-skills>

<app-touch></app-touch>